* {
    box-sizing: border-box;
}

.App {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
}

.content {
    height: 100vh;
    flex-grow: 1;
    display: inline-flex;
    overflow-x: scroll;
    padding-bottom: 20px;
}

.content-item {
    /* max-width: 100%; */
    flex-grow: 1;
    /* max-width: 100%; */
    min-width: 400px;
    height: 100%;
}

.operate {
    width: 100px;
    height: 100vh;
    cursor: pointer;
    padding: 200px 20px;
}

.operate-item + .operate-item {
    margin-top: 50px;
}
