page {
  height: 100%;
}

page,
text,
view,
navigator,
swiper,
image,
swiper-item {
  box-sizing: border-box;
}

.container {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.full {
  width: 100%;
  height: 100%;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.flex-between {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

text,
view {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.2em;
  line-height: 1.5em;
}

@mixin draw-background($url) {
  background: no-repeat url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin flex-helper($direction, $justify-way, $align-way) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-way;
  flex-wrap: wrap;
  align-items: $align-way;
}

$backColor: #b72f30;
$font-corlor: #f5f5b7;
